/* Mantener las 3 columnas en pantallas más pequeñas */
.beneficios .box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Permite que los elementos se reorganicen si es necesario */
}

.beneficios .box {
    width: 30%; /* Ajuste del ancho de las cajas */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ajustes para móviles */
@media only screen and (max-width: 768px) {
    .beneficios .box {
        width: 30%; /* Mantener tres columnas con un ancho menor */
    }
}

/* Ajustes para pantallas aún más pequeñas */
@media only screen and (max-width: 576px) {
    .beneficios .box {
        width: 100%; /* Colocar en una columna cuando el espacio sea extremadamente limitado */
    }
}
